<div class="container animated fadeIn">
	<h3 class="page-title text-center">Contacto</h3>
	<hr>
	<br>
	<form class="form-container col-sm-8 offset-sm-2" #form="ngForm" ngNativeValidate (ngSubmit)="send(form.value)" style="border: 9px solid #f2f2f2; max-width: 520px; margin: auto; padding: 5%;">
		<div class="form-group">
			<label for="inputName">Nombre</label>
			<input type="text" name="name" class="form-control" id="inputName" aria-describedby="name" required [(ngModel)]="form_data.name">
		</div>
		<div class="form-group">
			<label for="inputEmail">Email</label>
			<input type="text" name="email" class="form-control" id="inputEmail" aria-describedby="email" required [(ngModel)]="form_data.email">
		</div>
		<div class="form-group">
			<label for="comments">Mensaje</label>
			<textarea name="comments" class="form-control" id="comments" rows="3" [(ngModel)]="form_data.comments" required></textarea>
		</div>
		<br>
		<br>
		<button [disabled]="!form.valid" type="submit" class="btn btn-primary btn-contact" data-toggle="modal" data-target="#myModal"> Enviar </button>
	</form>	
	<br>
	<div class="text-center" style="border: 9px solid #f2f2f2; max-width: 520px; margin: auto; padding: 5%;">
		<h5>Tambien puedes ponerte en contacto con nosotros de la siguiente manera:</h5>
		<br>
		<br>
		<h6><i>Email: </i><b>miguelsobrinsueiras@gmail.com</b></h6>
		<hr>
		<br>
		<h5><i>Teléfono: </i><b>659 317 805</b></h5>
		<hr>
	</div>
</div>

<!-- Modal window to show success/error message -->
<div class="modal fade" id="myModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ modal_title }}</h4>
      </div>
      <div class="modal-body">
        <p style="color: black">{{ modal_message }}</p>
      </div>
      <div class="modal-footer">
        <button (click)="close_dialog()" type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


