<div class="container animated fadeIn">
	<h3 class="page-title text-center">Contacto</h3>
	<hr>
	<br>
	<div class="form-container">
	  	<h1>Contacte con nosotros</h1>
		<br>
		<form  method="post" id="reused_form" >
			<label for="name">Nombre</label>
			<input id="name" type="text" name="Name" required maxlength="50">

			<label for="email">Email</label>
			<input id="email" type="email" name="Email" required maxlength="50">

			<label for="message">Mensaje</label>
			<textarea id="message" name="Message" rows="10" maxlength="6000" required></textarea>
			<br>
			<br>
			<button class="btn btn-primary" type="" >Enviar</button>
		</form>
	</div>
	<br>
	<div class="text-center">
		<h3>Email: miguelsobrinsueiras@gmail.com</h3>
		<br>
		<h3>Teléfono: 659 317 805</h3>
	</div>
</div>