<div class="footer fixed-footer bg-dark">
 	<div class="row contactFooter" style="color:white;">
		<address class="col-md-6" style="margin-left:20px">
			Email para <a href="mailto:miguelsobrinsueiras@gmail.com" style="text-decoration: underline; color: darkgray;">Construcciones Sobrín</a>.
			Estrada do Raposeiro, 16 baixo.
			Ferrol, Galicia
		</address>
		<div class="col-md-1 offset-md-4">
           <span style="font-size:18px">
           		<i class="fa fa-facebook" style="margin-right: 10px;"></i>
				<i class="fa fa-mobile" style="margin-right: 10px;"></i>
          		<i class="fa fa-envelope"></i> 
       		</span>
		</div>
	</div>
</div>  
