<div class="col-md-10 offset-md-1 text-center">
    <div class="btn-group" role="toolbar" aria-label="Gallery menu">
        <button type="button" class="btn custom-button" routerLinkActive="active" [routerLink]="['finishes']">Acabados</button>
        <button type="button" class="btn custom-button" routerLinkActive="active" [routerLink]="['closures']">Cierres</button>
        <button type="button" class="btn custom-button" routerLinkActive="active" [routerLink]="['covering']">Cubiertas</button>
        <button type="button" class="btn custom-button" routerLinkActive="active" [routerLink]="['frontages']">Fachadas</button>
        <button type="button" class="btn custom-button" routerLinkActive="active" [routerLink]="['wood-covers']">Cubiertas de madera</button> 
    </div>
    <hr>
    <div class="btn-group" role="group" aria-label="Gallery menu">
    	<button type="button" class="btn custom-button" routerLinkActive="active" [routerLink]="['structures']">Estructuras</button>
    	<button type="button" class="btn custom-button" routerLinkActive="active" [routerLink]="['installations']">Instalaciones</button>
        <button type="button" class="btn custom-button" routerLinkActive="active" [routerLink]="['pools']">Piscinas</button>
        <button type="button" class="btn custom-button" routerLinkActive="active" [routerLink]="['livings']">Viviendas unif. llave en mano</button>
    </div>
</div>
<div class="container gallery-container">
    <router-outlet></router-outlet>
</div>
