<div class="col-md-10 offset-md-1 text-center">
    <div class="btn-group" role="toolbar" aria-label="Gallery menu">
        <button type="button" class="btn custom-button" routerLinkActive="active" [routerLink]="['finishes']">{{ 'GALLERY.FINISHES' | translate }}</button>
        <button type="button" class="btn custom-button" routerLinkActive="active" [routerLink]="['closures']">{{ 'GALLERY.CLOSURES' | translate }}</button>
        <button type="button" class="btn custom-button" routerLinkActive="active" [routerLink]="['covering']">{{ 'GALLERY.COVERING' | translate }}</button>
        <button type="button" class="btn custom-button" routerLinkActive="active" [routerLink]="['frontages']">{{ 'GALLERY.FRONTAGES' | translate }}</button>
        <button type="button" class="btn custom-button" routerLinkActive="active" [routerLink]="['wood-covers']">{{ 'GALLERY.WOOD_COVERS' | translate }}</button> 
    </div>
    <hr>
    <div class="btn-group" role="group" aria-label="Gallery menu">
    	<button type="button" class="btn custom-button" routerLinkActive="active" [routerLink]="['structures']">{{ 'GALLERY.STRUCTURES' | translate }}</button>
    	<button type="button" class="btn custom-button" routerLinkActive="active" [routerLink]="['installations']">{{ 'GALLERY.INSTALLATIONS' | translate }}</button>
        <button type="button" class="btn custom-button" routerLinkActive="active" [routerLink]="['pools']">{{ 'GALLERY.POOLS' | translate }}</button>
        <button type="button" class="btn custom-button" routerLinkActive="active" [routerLink]="['livings']">{{ 'GALLERY.LIVINGS' | translate }}</button>
    </div>
</div>
<div class="container gallery-container">
    <router-outlet></router-outlet>
</div>
