<div class="container animated fadeIn">
	<h3 class="page-title text-center">Editar galería</h3>
	<hr>
	<div class="row">
		<div class="col-md-2">
			<button class="btn btn-success" (click)="uploadImage()">Añadir imágenes</button>
		</div>
		<div class="col-md-2">
			<button class="btn btn-danger" (click)="deleteImages()">Borrar imágenes</button>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="gallery col-xl-3 col-lg-3 col-md-3 col-sm-4 col-xs-3" *ngFor="let item of images | async; let i = index">
			<a [href]=item.url data-lightbox="example-1">
				<img [src]=item.url class="img-thumbnail">
			</a>
			<br>
			<input type="checkbox" style="zoom:3" (click)="addImage(item)">
		</div>
	</div>
	<br>
	<hr>
	<br>
	<div class="row">
		<div class="col-md-2">
			<button class="btn btn-success" (click)="uploadImage()">Añadir imágenes</button>
		</div>
		<div class="col-md-2">
			<button class="btn btn-danger" (click)="deleteImages()">Borrar imágenes</button>
		</div>
	</div>
</div>
