<div class="container animated fadeIn col-md-10 text-center" style="font-size:14px">
	<div class="row">
		<div class="col-md-4 offset-md-1">
			<img src="./assets/img/csobrin_logo2.png" width="100%" height="100%">
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-6">
			<p class="home-page-text text-justify">
				{{ 'HOME.P1' | translate }}
				<br><br>
				{{ 'HOME.P2' | translate }}
				<br><br>
				{{ 'HOME.P3' | translate }}
				<br>
			</p>
		</div>
		<div class="col-md-6 home-gallery">
			<a href="./assets/img/homepage/home1.jpg" data-lightbox="home-page">
				<img src="/assets/img/homepage/home1.jpg">
			</a>
		</div>
	</div>
	<hr>
	<br>
	<div class="row">
		<div class="col-md-6 home-gallery">
			<a href="./assets/img/homepage/home2.jpg" data-lightbox="home-page">
				<img src="/assets/img/homepage/home2.jpg">
			</a>
		</div>
		<div class="col-md-6">
			<p class="home-page-text text-justify">
				{{ 'HOME.P4' | translate }}
				<br><br>
				{{ 'HOME.P5' | translate }}
				<br><br>
				{{ 'HOME.P6' | translate }}
				<br><br>
				{{ 'HOME.P7' | translate }}
				<br><br>
				{{ 'HOME.P8' | translate }}
				<br>
			</p>
		</div>
	</div>
	<hr>
	<br>
	<div class="row">
		<div class="col-md-6">
			<p class="home-page-text text-justify">
				<b>{{ 'HOME.P9' | translate }}</b><br>
				{{ 'HOME.P10' | translate }}
				<br><br>
				<b>{{ 'HOME.P11' | translate }}</b><br>
				{{ 'HOME.P12' | translate }}
				<br><br>
				<b>{{ 'HOME.P13' | translate }}</b><br>
				{{ 'HOME.P14' | translate }}
				<br><br>
				<b>{{ 'HOME.P15' | translate }}</b><br>
				{{ 'HOME.P16' | translate }}
				<br>
			</p>
		</div>
		<div class="col-md-6 home-gallery">
			<a href="./assets/img/homepage/home3.jpg" data-lightbox="home-page">
				<img src="/assets/img/homepage/home3.jpg">
			</a>
		</div>
	</div>
	<br><br>
</div>
