<div class="container animated fadeIn">
	<br>
	<h3 class="text-center"><b><u>AVISO LEGAL Y CONDICIONES DE USO</u></b></h3>
	<hr>
	<div class="col-md-8 offset-md-2">
		<p class="text-justify">
			<b>{{ "LEGAL.P1" | translate }}</b>
		</p>
		<p class="text-justify">
			{{ "LEGAL.P2" | translate }}
		</p>
		<p class="text-justify">
			{{ "LEGAL.P3" | translate }}
		</p>
		<p class="text-justify">
			{{ "LEGAL.P4" | translate }}
		</p>
		<br>
		<p class="text-justify">
			<b>{{ "LEGAL.P5" | translate }}</b>
		</p>
		<p class="text-justify">
			{{ "LEGAL.P6" | translate }}
		</p>
		<p class="text-justify">			
			{{ "LEGAL.P7" | translate }}
		</p>
		<p class="text-justify">
			{{ "LEGAL.P8" | translate }}
		</p>
		<br>
		<p class="text-justify">
			{{ "LEGAL.P9" | translate }}
		</p>
		<p class="text-justify">
			{{ "LEGAL.P10" | translate }}
		</p>
		<p class="text-justify">
			<i>{{ "LEGAL.P11" | translate }}</i>
		</p>
		<p class="text-justify">
			{{ "LEGAL.P12" | translate }}
		</p>
		<p class="text-justify">
			{{ "LEGAL.P13" | translate }}
		</p>
		<p class="text-justify">
			<i>{{ "LEGAL.P14" | translate }}</i>
		</p>
		<p class="text-justify">
			{{ "LEGAL.P15" | translate }}
		</p>
		<p class="text-justify">
			{{ "LEGAL.P16" | translate }}
		</p>
		<p class="text-justify">
			<i>{{ "LEGAL.P17" | translate }}</i>
		</p>
		<p class="text-justify">
			{{ "LEGAL.P18" | translate }}
		</p>
		<p class="text-justify">
			{{ "LEGAL.P19" | translate }}
			<a href="http://www.google.es/intl/es/analytics/privacyoverview.html">http://www.google.es/intl/es/analytics/privacyoverview.html</a>
		</p>
		<p class="text-justify">
			{{ "LEGAL.P20" | translate }}
		</p>
		<p class="text-justify">
			{{ "LEGAL.P21" | translate }}
			<a href="http://www.google.es/policies/privacy/ads/#toc-doubleclick">http://www.google.es/policies/privacy/ads/#toc-doubleclick</a> y a <a href="http://www.google.es/policies/privacy/ads/">http://www.google.es/policies/privacy/ads/</a>
		</p>
</div>