/* You can add global styles to this file, and also import other style files */
.main-container{
    margin-top: 40px;
}

.gallery-container{
    margin-top: 20px;
}

/* -------------------------GENERAL ANIMATIONS ----------------------- */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

.modal{
  top: 10% !important;
}

.modal-backdrop {
  z-index: -1;
}

/* ------------------------- END GENERAL ANIMATIONS ----------------------*/

/* -------------------------NAVBAR STYLES ----------------------- */

.bg-dark{
  background-color: #397b9c !important;
}


.nav-link {
  color: #5d5d5d;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 20px;
	padding-right: 1em !important;
	padding-left: 0.5em !important;
  	font-family: 'Poppins', sans-serif;
  	float: left;
  	position: relative;
  	overflow: hidden;
  	transform: scale(1.0);
    transition: 0.5s all ease;
}


/* Shows a line below menu items on hover */
.nav-link:hover{
	transform: scale(1.2);
    transition: 0.5s all ease;
    color: white;
}

.nav-link::after {
	background-color: white;
	content: "";
	width: 0;
	height: 3px;
	left: 0;
	bottom: 0;
	transition: width 0.35s ease 0s;
	position: absolute;
}

.nav-link:hover::after {
	margin-left: 5px;
  	width: 80%;
}


@media screen and (max-width: 992px){
	.nav-link{
		font-size: 16px;
	}
}

@media screen and (max-width: 882px){
	.nav-link{
		font-size: 14px;
	}
}

@media screen and (max-width: 800px){
	.nav-link{
		font-size: 13px;
	}
}

/* -------------------------END NAVBAR STYLES ----------------------- */

/* ----------------------- GALLERY PAGE STYLES ------------------------------ */

.btn-group{
  display: flex;
}

div.gallery {
    padding: 10px;
    float: left;
    transform: scale(1.0);
    transition: 0.5s all ease;
    width: 100%;
    height: 100%;
}

div.gallery:hover {
    transform: scale(1.1);
    transition: 0.5s all ease;
}

div.gallery img {
	border-radius: 2px;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 768px){

	div.gallery {
	    padding: 10px;
	    float: left;
	    transform: scale(1.0);
	    transition: 0.5s all ease;
	    width: 33%;
	    height: 33%;
	}
}

div.desc {
    padding: 15px;
    text-align: center;
}

/* -------------------- END GALLERY PAGE STYLES ------------------------------ */


/* --------------------- CONTACT FORM ------------------------------------- */


h1, p 
{
  text-align: center;
}

input, textarea , button
{
  width: 100%;
}    
textarea
{
  height: 200px;
}


/* -------------------- END CONTACT PAGE STYLES ------------------------------ */
